#content{
	width: 1519.2px;
	height: 2854.63px;
	background-color: #ffffff;
	display: block;
}
.contentHeader{
	width: 1519.2px;
	height: 464px;
	display: block;
}
.contentHeader .cat-offers{
	
	width: 1140px;
	height: 464px;
	background-color: #ffaaff;
	margin-left: 12.5%;
	
	
	
}